.grid-container-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header-page-restaurants header-page-restaurants"
      "card-rating-page page-card-restaurants";
    width: 100%;
}
  
  .header-page-restaurants { grid-area: header-page-restaurants; 
    height: 25%;
    box-shadow: 0px 0px 5px;
    -webkit-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    -moz-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);    
}
  
  .card-rating-page { grid-area: card-rating-page; 
    width: 30%;
    position: relative;
    margin-top: -33%;
    left: 5%;
}
  
  .page-card-restaurants { grid-area: page-card-restaurants; 
    grid-area: page-card-restaurants;
    width: 150%;
    position: relative;
    left: -60%;
    margin-top: -33%;

}


.container-div-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
}

.container-card-page{
    box-shadow: 0px 0px 5px;
    -webkit-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    -moz-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);   

}