$font-pages:"Open Sans", sans-serif;
$color-components-white: #fff;
$title-text-cards: #A5A5A5;
$text-cards:#484848;
$color-button-search: #39b54a;
$color-components-white: #fff;
$color-text-placeholder: #767676;