@import '../../utils/scss-variable/variables.scss';
@import './homeresponsive.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-pages;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  .wrapper {
    width: auto;
    height: 100vh;
    background-image: url("../../utils/img/background/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header{
    margin-top: -500px;

  }

  .logo-white{
    width: 20vh;
    position: relative;
    left: 140%;
  }

  .text-home{
    color:$color-components-white;
    font-size: 35px;
    font-family: $font-pages;
    font-weight: 800;
    position: relative;
    left: -30%;
    margin-top: -90px;
  }

  .search-bar-home{
    margin-top: 20px;
    position: relative;
    left: -28%;
  }

  
  .data-list{
    background: $color-components-white;
    width: 100%;
    position: relative;
    color: $color-text-placeholder;
    font-weight: 300;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .data-list:hover{
    background-color: $title-text-cards;
    opacity: 90%;
    p{
      color: $text-cards;

    }
  }

  .state-city{
    position: relative;
    color: $color-text-placeholder;
    font-weight: 300;
    font-size: 1rem;
    left: 5%;
    width: 90%;

  }

  .text-data-list{
    position: relative;
    font-size: 1.4rem;
    left: 5%;
  }

  .data-list-list{
    position: relative;
    left: -2%;
    width: 90%;
    background: $color-components-white;
  } 


