@media (min-width: 220px) and (max-width: 319px){
  
    .text-home{
      font-size: 25px;
      position: relative;
      left: -40%;
      margin-top: -90px;
    }
  
    .search-bar-home{
      margin-top: 20px;
      position: relative;
      left: -38%;
    }
    .buscar-button{
      font-size: 8px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 400px){

  
  }
  
  @media (min-width: 375px) and (max-width: 375px){
    .logo-white{
      position: relative;
      left: 100%;
    }
  
  }
  
    
  @media (min-width: 320px) and (max-width: 340px){
    .logo-white{
      width: 20vh ;
      position: relative;
      left: 105%;
    }
  
    .text-home{
      font-size: 25px;
      position: relative;
      left: -40%;
      margin-top: -90px;
    }
  
    .search-bar-home{
      margin-top: 20px;
      position: relative;
      left: -38%;
    }
  }
  
  @media (min-width: 500px) and (max-width: 590px){
    .logo-white{
      width: 20vh ;
      position: relative;
      left: 105%;
    }
  
    .text-home{
      font-size: 25px;
      position: relative;
      left: -30%;
      margin-top: -90px;
    }
  
    .search-bar-home{
      margin-top: 20px;
      position: relative;
      left: -28%;
    }
  }
  
  
  @media (min-width: 37em) {
    .header{
      margin-top: -400px;
  
    }
  } /* 592px */
  
  
  @media (min-width: 41em) {
    .header{
      margin-top: -400px;
  
    }
    
  } /* 656px */
  
  @media (min-width: 47em) {
    .header{
      margin-top: -450px;
  
    }
  } /* 752px */
  
  @media (min-width: 68em) { 
    .header{
      margin-top: -470px;
  
    }
  
  } /* 1088px */
  
  @media (min-width: 82em) {
    .header{
      margin-top: -480px;
  
    }
  
   } /* 1312px */
  
   @media (min-width: 100em) { 
    .logo-white{
      width: 25vh ;
      position: relative;
      left: 90%;
    }
  
    .text-home{
      font-size: 40px;
      position: relative;
      left: -40%;
      margin-top: -90px;
    }
  
    .search-bar-home{
      margin-top: 20px;
      position: relative;
      left: -38%;
    }
  
    .buscar-button{
      font-size: 15px;
    }
  
   } /* 1600px */