@import '../../utils/scss-variable/variables.scss';

body {
    font-family:$font-pages;
    color:#646464;
    font-weight: 300;
  }		

  .grid-container-cardfilter {
    display: grid;
    border: 0.5px;
    color: #CFCFCF;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "card-rating-price-type";
    border-style: solid;
    box-shadow: 0px 0px 5px;
    -webkit-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    -moz-box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    box-shadow: 16px 12px 11px -9px  #484848(0,0,0,0.45);
    width: 100%;
    line-height: 25px;
    position: relative;
  }
  
  .card-rating-price-type { 
      grid-area: card-rating-price-type;
      width: 100%;


    }

    .title-card{
    font-family:$font-pages;
    font-weight: 300;
    color: $title-text-cards;
    font-size: 13px;
    position: relative;
    left: 5%;

}

.jsonourstring-card{
    font-family: $font-pages;
    color: $text-cards;
    font-size: 12px;
    position: relative;
    left: 2%;
}

.card-rating-price-type{
  position: relative;
  left: 2%;

}
