
  @import '../../utils/scss-variable/variables.scss';

  $color-button-search: #39b54a;
  $color-components-white: #fff;
  $color-text-placeholder: #767676;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content {
    background: $color-components-white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    width: 120%;
    position: relative;
    left: -8%;
    height: 45px;
  }
  
  .search {
    margin-top: 20px;
    display: flex;
    height: 35px;
    position: relative;
    overflow: hidden;
  
    &__input {
      flex-grow: 1;
      border: none;
      font-family: $font-pages;
      font-weight: 300;
      background: transparent;
      font-size: 1.4rem;
      width: 100px;
      top: 1px;
      height: 40px;
      position: relative;
      color: $color-text-placeholder;
      width: 20%;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      left: 15% ;
    }
  
    &__btn {
      font-size: 3.6rem;
      background: transparent;
      border: none;
      cursor: pointer;
      height: 60px;
      top:-5px;
      height: 40px;
      position: relative;
      left: -90%;

  
      &:focus {
        outline: none;
      }
    }
  

  }
  

.form-search{
    margin: 0 auto;
    text-align: center;
    font-family: $font-pages;
    font-weight: 300;
     max-width: 70%;
    position: relative;
    height: 35px;
}



.buscar-button{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: $color-button-search;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font-family: $font-pages;
    font-weight: 600;
    font-size: 12px;
    color: $color-components-white;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 45px;
    position: relative;
    left: 90%;
    top: -45px;
    width: 45%;

}

.form-search i{
    font-size: 20px;
    color: #80A3BD;
}


